name: Go
on:
  push:
  pull_request:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version-file: ./go.mod
      id: go

    - run: make bootstrap-tools
    - run: make lint
    - run: make cover

    - uses: k1LoW/octocov-action@v0
